/* App.css */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../node_modules/@fontsource/roboto/300.css") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../node_modules/@fontsource/roboto/400.css") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../node_modules/@fontsource/roboto/500.css") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../node_modules/@fontsource/roboto/700.css") format("woff2");
}

* {
  text-align: center;
}
